<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat app using socket io using nest js</title>
  </head>

  <body>
    <form id="form">
      <input type="text" placeholder="Name" id="myname" />
      <input type="text" placeholder="Message" id="message" />
      <button>Send</button>
    </form>
    <div id="messageArea"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
  </body>
</html>
